/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Courier+Prime&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #f3f3f3;
    --bg-invertido: #212529;
    --font: #090909;
    --font-invertida: #899095;
    --fontHome: #9563c3;
    --fontH1Home: #41007e;
}

.dark-mode:root {
    --bg: #212529;
    --bg-invertido: #f3f3f3;
    --font: #899095;
    --font-invertida: #090909;
    --fontH1Home: #9c3cf1;
}

html,
body {
    min-height: 100vh;
    background-color: var(--bg);
}

.divDivision {
    height: 98vh;
    width: 98.7vw;
}

.titulo {
    color: var(--font);
    text-align: center;
    font: normal 30px 'Anuphan', sans-serif;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

label {
    cursor: pointer;
}

hr {
    color: var(--bg-invertido);
}


/* NavBar */

.mobile_menu {
    display: none;
}

#logo {
    font-size: 25px;
    text-decoration: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: var(--font);
    font-family: 'Chivo mono', monospace;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: block;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
    padding: 0 20px;
    line-height: 60px;
    font-size: 15px;
    font-family: 'Chivo mono', monospace;
    font-weight: 600;
}

.nav-list:hover li a {
    color: var(--fontH1Home);
}

.nav-list:hover li a:not(:hover) {
    color: var(--font);
    opacity: 0.5;
    filter: blur(1px);
}

#chk {
    visibility: hidden;
}

#chk-mode {
    display: block;
    padding: 0 20px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--bg-invertido);
    margin: 8px;
    transition: 0.3s;
}

.open {
    display: block;
}

@media screen and (max-width: 700px) {

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


/* Home */

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgMe {
    width: 500px;
}

#infoMe h3 {
    color: var(--fontHome);
    font: normal 37px 'Courier Prime', monospace;
}


#infoMe h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#infoMe h1 {
    color: var(--fontH1Home);
    font: normal 42px 'Courier Prime', monospace;
    ;
}

.iconLink {
    background-color: var(--bg);
    border-radius: 50%;
    border: none;
    overflow: hidden;
    width: 38px;
    height: 38px;
    margin: 10px 20px 0px 0px;
    outline: 1px solid #540b98;
    transition-property:
        outline-offset, outline-color;
    transition-duration: 0.25s;
}

.iconLink:hover {
    outline-offset: 4px;
}

.link img {
    margin: auto;
}

.link:hover img {
    animation: shake 0.25s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


@media screen and (max-width: 805px) {}


/* Sobre mim */

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pic {
    width: 300px;
    height: 300px;
}

#info {
    width: 700px;
    height: 180px;
    color: var(--font);
}

#titleAbout {
    text-align: start;
    margin-bottom: 10px;
    font: normal 35px 'Anuphan', sans-serif;
}

#subTitleAbout {
    margin-bottom: 15px;
    font: normal 25px 'Anuphan', sans-serif;
}

#info p {
    font-family: 'Roboto', sans-serif;
}

#subTitleAbout::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

/* Projetos */



#cardsPro {
    height: 1400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: space-evenly;
    justify-items: center;
}

.cardProjects {
    background-color: var(--bg-invertido);
    width: 855px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    color: var(--font-invertida);
}

.cardProjects h2 {
    margin-top: 15px;
}

.linksProjects {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}   

.linksProjects a{
    text-decoration: none;
    color: var(--font-invertida);
}

#library { 
    order: 1;
}

#EmBreve {
    order: 1;
}

@media screen and (max-width: 950px) {
    /* Projetos e Sobre mim */





}

/* Habilidades */

#cardsAbitly {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-evenly;
    justify-items: center;
}

.cardLanguages {
    width: 200px;
    height: 188px;
    border-radius: 40px;
    background-color: var(--bg-invertido);
    box-shadow: 0px 15px 20px rgba(0, 0, 0.2);
}

.cardLanguages h1 {
    margin: 2px 0px 10px 0px;
    font-family: 'Anuphan', sans-serif;
    text-align: center;
}

.cardLanguages p {
    text-indent: 5px;
    font: normal 15px 'Roboto', sans-serif;
    text-align: center;
}

.cardLanguages img {
    margin: auto;
    display: block;
    transform: translate(0px, 60px);
}

.cardLanguages:hover {
    transform: translate(-3px, -3px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0.2);
    transition: transform .3s, border 1s;
}

.cardLanguages:hover img {
    opacity: 0.5;
}

.cardLanguages .content {
    transition: .5s ease-in-out;
    margin-top: -64px;
    opacity: 0;
    background: linear-gradient(0deg, var(--fontH1Home), transparent);
    width: 200px;
    height: 188px;
    border-radius: 40px;
}

.cardLanguages:hover .content {
    transform: translateX(0);
    opacity: 1;
    color: var(--bg);
}

@media screen and (max-width: 670px) {

    #cardsAbitly {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Footer */


.footerDivision {
    color: var(--font);
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}