/* Gerais */

@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400&family=Courier+Prime:wght@400;700&family=Mulish:wght@200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #f3f3f3;
    --bg-invertido: #212529;
    --font: #090909;
    --font-invertida: #899095;
    --fontHome: #9563c3;
    --fontH1Home: #41007e;
}

.dark-mode:root {
    --bg: #212529;
    --bg-invertido: #f3f3f3;
    --font: #899095;
    --font-invertida: #090909;
    --fontH1Home: #9c3cf1;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    min-height: 100vh;
    background-color: var(--bg);
}

.divDivision {
    height: 130vh;
    width: 98.7vw;
}

.titulo {
    color: var(--font);
    text-align: center;
    font: bold 3rem 'Anuphan', sans-serif;
    margin-bottom: 1rem;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

label {
    cursor: pointer;
}

hr {
    color: #212529;
}

span {
    font-weight: bold;
}


/* NavBar */

.mobile_menu {
    display: none;
}

#logo {
    font-size: 2.5rem;
    text-decoration: uppercase;
    letter-spacing: .4rem;
    text-decoration: none;
    color: var(--font);
    font-family: 'Chivo mono', monospace;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    background-color: var(--bg);
    border-bottom: 1px solid var(--bg-invertido);
    z-index: 1;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: block;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
    padding: 0 2rem;
    line-height: 6rem;
    font-size: 1.5rem;
    font-family: 'Chivo mono', monospace;
    font-weight: 600;
}

.nav-list:hover li a {
    color: var(--fontH1Home);
}

.nav-list:hover li a:not(:hover) {
    color: var(--font);
    opacity: 0.5;
    filter: blur(1px);
}

#chk {
    visibility: hidden;
}

#chk-mode {
    display: block;
    padding: 0 2rem;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 3.2rem;
    height: .2rem;
    background: var(--bg-invertido);
    margin: .8rem;
    transition: 0.3s;
}

.open {
    display: block;
}

#icon-modo-escuro {
    margin-top: .6rem;
}

@media screen and (max-width: 700px) {

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-top: 1px solid var(--bg-invertido)
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* Home */

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgMe {
    margin-left: 10rem;
}

#infoMe h3 {
    color: var(--fontHome);
    font: normal 3.7rem 'Courier Prime', monospace;
}


#infoMe h1::after {
    content: '|';
    margin-left: .5rem;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#infoMe h1 {
    color: var(--fontH1Home);
    font: normal 4.2rem 'Courier Prime', monospace;
    ;
}


.iconLink {
    background-color: var(--bg);
    border-radius: 50%;
    border: none;
    overflow: hidden;
    width: 3.8rem;
    height: 3.8rem;
    margin: 1rem 2rem 0 0;
    outline: 1px solid var(--fontH1Home);
    transition-property:
        outline-offset, outline-color;
    transition-duration: 0.25s;
}

.iconLink:hover {
    outline-offset: 4px;
}

.iconLink a {
    color: var(--fontH1Home);
}


.link img {
    margin: auto;
}

.link:hover img {
    animation: shake 0.25s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


@media screen and (max-width: 650px) {
    #Home {
        height: 150vh;
        flex-direction: column;
    }

    #infoMe h3 {
        font-size: 2.8rem;
    }

    #infoMe h1 {
        font-size: 3rem;
    }

    #imgMe {
        margin: 0;
    }
}


/* Sobre mim */

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#pic {
    width: 30rem;
    height: 30rem;
}

#info {
    height: 18rem;
    color: var(--font);
}

#titleAbout {
    text-align: start;
    margin-bottom: 1rem;
    font: normal 3.5rem 'Anuphan', sans-serif;
}

#subTitleAbout {
    margin-bottom: 1.5rem;
    font: normal 2.5rem 'Anuphan', sans-serif;
    color: var(--fontH1Home);
}

#info p {
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
    line-height: 2.5rem;
    width: 47vw;
}

#subTitleAbout::after {
    content: '|';
    margin-left: .5rem;
    opacity: 1;
    animation: pisca .7s infinite;
}

.my_skills {
    list-style: none;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 650px) {
    #about {
        height: 200vh;
        flex-direction: column;
        justify-content: start;
        margin-top: 25rem;
    }

    #info p {
        width: 80vw;
    }

    .my_skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    }
}

/* Projetos */



#cardsPro {
    height: 140rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: space-evenly;
    justify-items: center;
}


.cardProjects {
    background-color: var(--bg-invertido);
    width: 70vw;
    height: 35vh;
    border-radius: 2rem;
    display: flex;
    text-align: center;
    color: var(--font-invertida);
}

.cardProjects h2 {
    margin-top: 1.5rem;
}

.linksProjects {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.linksProjects a {
    text-decoration: none;
    color: var(--font-invertida);
    font-family: 'Mulish', sans-serif;
}

.linksProjects a:hover {
    color: var(--fontHome);
}

.card h2 {
    font-size: 2rem;
    font-family: 'Anuphan', sans-serif;
}

.card p {
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
}

.card a {
    font-size: 1.8rem;
}

.pic-project {
    height: 35vh;
}

.pic-order {
    order: 1;
}

@media screen and (max-width: 800px) {

    /* Projetos e Sobre mim */
    .cardProjects {
        width: 90vw;
    }

    #card-information-library p {
        font-size: 1.3rem;
    }

    #card-information-library .linksProjects {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    #cardsPro {
        height: 400vh;
    }

    .cardProjects {
        flex-direction: column;
        width: 71vw;
        margin: 5rem;
    }

    .pic-project {
        height: 27.1vh;
        width: 71vw;
    }

    #pic-calculator {
        height: 28.54vh;
        margin-left: -2.8px;
        width: 73vw;
    }

    .linksProjects {
        margin-top: 2rem;
    }

    #card-cost{
        height: 65vh;
    }

    #card-barber{
        height: 97vh;
    }

    #card-schron {
        height: 75vh;
        margin: 0 0 5rem 0;
    }

    #card-library {
        height: 75vh;
    }

    .pic-order {
        order: 0;
    }
}

/* Habilidades */

#MySkills {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
    align-content: space-evenly;
    justify-items: center;
}

.cardLanguages h1 {
    margin: .2rem 0 1rem 0;
    font-family: 'Anuphan', sans-serif;
    text-align: center;
    color: var(--font);
}

.cardLanguages p {
    text-indent: .5rem;
    font: normal 1.5rem 'Mulish', sans-serif;
    text-align: center;
    color: var(--font);
}

.cardLanguages a {
    color: var(--bg);
    font: normal 1.5rem 'Mulish', sans-serif;
    ;
    text-align: center;
    text-decoration: none;
    color: #9c3cf1;
}

.cardLanguages img {
    margin: auto;
    display: block;
    transform: translate(0px, 60px);
}

.cardLanguages:hover img {
    opacity: 0.5;
}

.cardLanguages .content {
    transition: .5s ease-in-out;
    margin-top: -64px;
    opacity: 0;
    height: 22.5rem;
}

.cardLanguages:hover .content {
    transform: translateX(0);
    opacity: 1;
    color: var(--bg);
}

#images-languages {
    display: flex;
}

.w1,
.w2,
.w3,
.w4,
.w5,
.w6 {
    height: 1.8rem;
    width: 20rem;
    background-color: #1D1C1D;
    border-radius: 1rem;
    margin: 4.5rem auto;
}

.w12,
.w22,
.w32,
.w42,
.w52,
.w62 {
    height: 100%;
    background-color: #540b98;
    color: var(--font-invertida);
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.w12,
.w32 {
    width: 83%;
}

.w42,
.w52 {
    width: 33%;
}

.w22,
.w62 {
    width: 16%;
}



@media screen and (max-width: 670px) {
    #MySkills {
        margin-top: 10rem;
        height: 230vh;
    }

    #cardsAbitly {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Contato */


#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61.3vh;
}

.contato {
    font-family: 'Mulish', sans-serif;
}

.contato input {
    height: 3rem;
    width: 30vw;
    border-radius: 7px;
    background-color: var(--bg-invertido);
    border: 2px solid var(--bg);
    padding: .5rem 0 .5rem .5rem;
    margin-bottom: 1rem;
    color: var(--font-invertida);
}

.contato textarea {
    background-color: var(--bg-invertido);
    border-radius: 7px;
    border: 2px solid var(--bg);
    width: 61.2vw;
    color: var(--font-invertida);
}


#button {
    border: none;
    border-radius: 5px;
    background-color: var(--fontH1Home);
    color: var(--font-invertida);
    width: 20vw;
    height: 7vh;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

@media screen  and (max-width: 768px) {
    .contato textarea {
        width: 62.2vw;
    }
}
@media screen  and (max-width: 600px) {
    .contato textarea {
        width: 63.4vw;
    }
}

/* Footer */


.footerDivision {
    color: var(--font);
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
}

#network a {
    text-decoration: none;
    color: var(--font);
}

#network a:hover {
    color: var(--fontH1Home);
}