/* Gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --bg: #f3f3f3;
    --bg-invertido: #212529;
    --bg-card: #27272a;
    --bg-especial: #1e40af;
    --font: #181717;
    --font-invertida: #899095;
    --font-button: #090909;
    --fontHome: #1d4ed8;
}

.dark-mode:root {
    --bg: #212529;
    --bg-invertido: #f3f3f3;
    --bg-card: #3f3f46;
    --font: #899095;
    --font-invertida: #090909;
    --font-button: #f3f3f3;
}

html,
body {
    min-height: 100vh;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
.divDivision {
    height: 130vh;
    width: 98.7vw;
}

.titulo {
    color: var(--font);
    text-align: center;
    font: bold 3rem 'Anuphan', sans-serif;
    margin-bottom: 1rem;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

label {
    cursor: pointer;
}

span {
    font-weight: bold;
}

.container {
    margin: auto;
    padding: 3rem 2rem;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 3rem 0;
    }
}

/* NavBar */

#logo {
    color: var(--font);
}

nav {
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
}

.nav-logo a {
    max-width: 100px;
    color: #181717;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    width: 100%;
}

.nav-links li:last-child {
  margin-left: 11%;
}

.link a {
    position: relative;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
    padding: 0 2rem;
    font-weight: 600;
}

.nav-links:hover .link a:not(:hover) {
    color: var(--font);
    opacity: 0.5;
    filter: blur(1px);
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 40px;
    height: 5px;
    background: var(--bg-invertido);
    border-radius: 9px;
    margin: 9px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .nav-links li:last-child {
        margin-left: 5%;
    }
}

@media screen and (max-width: 900px) {
    .nav-links li:last-child {
        margin-left: 0%;
    }
    .link a {
        padding: 0;
    }
}

@media screen and (max-width: 700px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border: 1px solid var(--bg-invertido);
        z-index: 1;
    }

    .nav-links li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-links.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-15px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-12px, -4px);
}



/* Home */

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
   
}

header div {
    max-width: 86%;
}

header .content h4 {
    margin-bottom: 1rem;
    color: var(--font);
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: var(--font);
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--font);
}

header .content p {
    margin-bottom: 2rem;
    color: var(--font);
}

header .image {
    position: relative;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

.home-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--bg-especial) ;
    outline: 3px var(--bg-especial) solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button .text {
    color: var(--font-button) ;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: 0;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: transparent;
}

.button:hover .text {
    color: var(--font-button) ;
}

.button:hover svg path {
    fill: var(--font-button);
}

@media screen and (max-width: 970px) {
    header .image img {
        max-width: 100%;
    }
}

@media screen and (max-width: 760px) {
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .content p {
        text-align: justify;
    }
}

/* Sobre mim */

.about {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 100vh;
}

.infomation {
    color: var(--font);
}

.title-About {
    text-align: start;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--font);
}

#sub-Title-About {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--fontHome);
}

.information p {
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--font);
}

.information-about-me {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

@media screen and (max-width: 760px) {
    .about {
        height: 200vh;
        flex-direction: column;
    }
    .title-About, .subtit {
        text-align: center;
    }

    #text-about-me {
        text-align: justify;
    }

    .information-about-me {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 40px;
    }

}

/* Projetos card */

.title-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    color: var(--font);
}

.nav-cards {
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.card {
    background-color:  var(--bg-card);
    border-radius: 15px;
    border: 2px solid transparent;
    height: 107%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease;
}


.bolinhas {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
}

.bolinha {
    border-radius: 50%;
    border: none;
    background-color: blue;
    height: 0.50rem;
    width: 0.50rem;
    margin: 5px;
}

#red {
    background-color: rgb(248 113 113);
    margin-left: 16px;
}

#yellow {
    background-color: rgb(250 204 21);
}

#green {
    background-color: rgb(74 222 128);
}

.image-project {
    height: 47%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28%;
}

.text-project {
    width: 95%;
    padding-left: 16px;
    color: var(--font-invertida);
}


.end-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 11px;
    color: var(--font-invertida);
}

@media screen and (max-width: 760px) {
    #projects {
        height: 415vh;
    }
}

/* Card button */


.div-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.end-card img {
    width: 20px;
    height: 20px;
}

/* Contato */


.contact  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.information-contact {
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.div-information-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2, .the-contact {
    color: var(--font);
}

.circle-contact {
    height: 35px;
    width: 35px;
    border-radius: 20%;
    border: none;
    background-color: var(--fontHome);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */

hr {
    color: var(--font);
}

footer {
    color: var(--font);
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Mulish', sans-serif;
}

footer h4 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.nav-footer, .nav-contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
}

.ul-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;
}

.ul-footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--font);
    cursor: pointer;
}

.link-nav:hover {
    text-decoration: dashed;
}

#ul-contact-footer li , .ul-footer button {
    width: 100%;
}

@media screen and (max-width: 650px) {
    footer h4  {
        font-size: 1.5rem;
    }
}